<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>{{title}}</title>
  </head>
  <body>

    {{{body}}}


    <!-- Scripts -->
    <!-- Moment.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>
    <!-- My Scripts -->
    <script src="javascripts/scripts.js"></script>

    </body>
  </html>
