<!-- CONTAINER DIV -->
<div class="container">

  <!-- HEADER -->
  <header>
    <img src="images/ymca-logo.png" alt="YMCA Logo">
    <h1>{{title}}</h1>
  </header>

  <!-- TODAY'S DATE -->
  <section class="date-section">
    <div class="date-arrows">
      <img id="left-arrow" src="images/left-arrow.png" alt="Previos Day Arrow Button">
      <h2 id="current-date"></h2>
      <img id="right-arrow" src="images/right-arrow.png" alt="Next Day Arrow Button">
    </div>
  </section>

  <!-- CHECK IN SECTION -->
  <section id="check-in">
    <h2>Will You Be Playing Today?</h2>
    <input type="text" id="userName" placeholder="Name">
    <br>
    <div id="going-button" class="button"><img src="images/black-checkmark.svg" alt="Going Button"></div>
    <div id="notGoing-button" class="button"><img src="images/red-x.png" alt="Not Going Button"></div>
  </section>

  <!-- CONTENT SECTION -->
  <section id="attendance">
    <!-- ATTENDING DIV -->
    <div id="attending">
      <h2>Attending</h2>
        <div id="ppl-Attending"></div>
    </div><!-- ATTENDING DIV END -->

    <div id="not-attending">
      <h2>Not Attending</h2>
        <div id="ppl-Not-Attending"></div>
    </div>
  </section>

</div><!-- CONTAINER DIV END -->
